<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">
    <!-- https://lokesh-coder.github.io/pretty-checkbox/#scss-settings -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster" type="text/css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://abcd/test-file-when-loading-takes-to-long-abort.css">
    <title>JKL_2DoList</title>
</head>

<body>


    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="#">JKL_2DoList</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <div class="pretty p-switch p-fill">
                        <input type="checkbox" id="showDoneC">
                        <div class="state">
                            <label>Show Done</label>
                        </div>
                    </div>
                </li>

        </div>
    </nav>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="listcontainer col-5">
                <h1>ToDo</h1>
                <ul class="todo">

                </ul>
                <form id="createTaskF" onsubmit="return false">
                    <div class="form-row">
                        <input maxlength="22" minlength="3" type="text" class="form-control" id="taskDescription"
                            placeholder="Add a to-do..." autocomplete="off">
                    </div>
                </form>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="listcontainer col-5" id="doneContainer" style="display:none">
                <h1>Done</h1>
                <ul class="done">

                </ul>
            </div>
        </div>
    </div>



    <script src="./js/idb-keyval.js"></script>
    <script>
        //Register the service worker
        if ('serviceWorker' in navigator && 'SyncManager' in window) {
            navigator.serviceWorker.register('sw.js').then(registration => navigator.serviceWorker.ready)
                .then(registration => {
                    console.log("ServiceWorker registration complete: ", registration);
                   
                }).catch((err) => {
                    // registration faild:
                    console.log('ServiceWorker registration failed: ', err);
                });
        }





    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="js/main.js"></script>
</body>

</html>