html {
    height: 100%;
    width: 100%;
}


body {
    height: 100%;
    width: 100%;
 

    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* overrides backgroundcolor from bootstarp */
.bg-light {
    background-color: #d9eafc !important;
    box-shadow: 0px 0px 20px #bdddff;
}

.container {
    width: 100%;
}

.listcontainer {
    min-width: 350px;
    border-radius: 20px;
    background-color: #d9eafc;
    box-shadow: 0px 0px 25px #bdddff;
    margin-top: 5%;
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
}

.listcontainer h2 {
    text-align: center;

}

ul.todo, ul.done{
    padding-left: 0;
}

.form-check{
    padding-left: 0px;
}

.task {
    border-radius: 10px;
    margin-bottom: 5px;
}

.task:hover {
    background-color: #bdddff;
}



#taskDescription{
    border-radius: 10px;
}

[id^="deleteIcon"] {
    float: right;
    cursor: pointer;
}

.taskSettings{
    float: right;
}

/* This needs to be fixed otherwise! Writting isn't in the middle of the div!*/
.marginFix {
    margin-top: 5px;
    margin-bottom: -2px;
}

